@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.logotype {
    width: 25%
}

.touricon {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.nav {
    list-style: none;
}

.nav a, 
.nav a:link,
.nav a:visited {
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
}

.banner {
    position: relative;
}

.header {
    text-align:right;
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    width: 100%;
    margin-top: 35%;
    color: white;
}

.intro {
    text-align: center;
}

.socialicons {
    width: 20%;
}

.billboard {
    width: 100%;
    display: block;
}

.medium {
    background-color: #B2B2B2;
}

.light {
    background-color: #E6E6E6;
}

.dark {
    background-color: #666;
}

.quote {
}

.linkicons {  
}

button {
    font-size: 1rem;
    font-family:font-family:normal 100%/1.5 'Roboto', sans-serif;
    padding: .25rem;
    background-color: white;
    border: 2px solid #B2B2B2;
    border-radius:2px;
}


@media only screen and (min-width: 25em) {
     .socialicons {
        width: 15%;
    }
}

@media only screen and (min-width: 38em) {
     .socialicons {
        width: 8%;
    }
}

@media only screen and (min-width: 60em) {
    .socialicons {
        width: 5%;
    }
}
