@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.subhead {
    font-weight: 300;
}

.skip-links {
    margin:0;
    padding:0;
    list-style-type:none; 
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: .5em .75em;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top:0;
}

body {
  margin: 0;
  padding: 0;
}

.logotype {
    width: 40%;
    max-width: 250px;
}

.touricon {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.nav {
    list-style: none;
    padding: 0;
}

.nav a, 
.nav a:link,
.nav a:visited {
    display: block;
    text-decoration: none;
    display: block;
    padding: 1em;
    
    color: black;
    text-decoration: none;
}

.nav-top {
    display: none;
}

.nav-top[data-state= "expanded"] {
    display: block;
}

.nav-btn a,
.nav-btn a:link,
.nav-btn a:visited {
    top: 10px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    width: 40px;
    
    background: transparent url("../images/logo-toggle.svg") no-repeat 0 0;
    
    text-indent: 100%;
    white-space: nowrap;
}

.nav-btn a:hover,
.nav-btn a:focus,
.nav-btn a:active {
}

.nav a:hover,
.nav a:focus,
.nav a:active {
    background-color: #666;
    background-position: 0 -40px; 
    
    color: white;
}

.navfooter {
    margin: .25em 0 0 0;
}

.navfooter a,
.navfooter a:linked,
.navfooter a:visited {
    display: block;
    padding: 2em 10px;
    
    color: #666;
    text-decoration: none;
}

.navfooter a:hover,
.navfooter a:focus,
.navfooter a:active {
    background-color: #666;
    color: white;
}

.banner {
    position: relative;
}

.header-home {
    text-align:right;
    xbackground-color: rgba(0,0,0,0.9);
    position:absolute;
    width: 100%;
    margin-top: 10%;
    color: white;
}

.header-pricing {
    text-align:right;
    width: 100%;
    margin-top: 0;
    color: white;
}

.banner-pricing {
    text-align:right;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.7); 
}

.intro {
    text-align: center;
}

.billboard {
    width: 100%;
    display: block;
}

.medium {
    background-color: #B2B2B2;
}

.light {
    background-color: #E6E6E6;
}

.dark {
    background-color: #666;
}

.quote {
}

.linkicons a {
    width: 15%;
    max-width: 50px;
    display: inline-block;
}

.cost {
    width: 40%;
    display: block;
}

button {
    font-size: 1rem;
    padding: .25rem;
    background-color: white;
    border: 2px solid #B2B2B2;
    border-radius:2px;
}


@media only screen and (min-width: 30em) {
   
    
    .nav-btn {
        display: none;
    }
    
    .nav-top {
        display:block;
    }
    
    .nav-top a {
    }

   .nav li {
       display: inline-block;
   }
    
    .selected {
        background-color: #E2E2E2;
        font-weight: 400;
    }

}

@media only screen and (min-width: 50em) {
    
}


